.cmp-category {
    display: inline-block;
    color: #fff;
    line-height: 15px;
    background-color: #3d65ff;
    padding: 4px 6px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 600;
}